fastapi==0.115.0
numpy==1.26.4
pdfminer.six==20240706
python-docx==1.1.2
python-multipart==0.0.9
regex==2024.9.11
requests==2.32.3
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
uvicorn==0.30.6
magnum==0.19.0